.readme .demo {
    max-width: 600px;
}

.live-photo {
    max-width: 100%;
    border-radius: 3px;
    cursor: pointer;
}

.demo img[data-live-photo],
.live-photo img,
.live-photo video {
    max-width: 100%;
}
